In [4]:
# All the Includes

import pandas as pd
import datetime

In [23]:
hot_df = pd.read_csv("../dataframes/praw_hot_submissions.csv")
new_df = pd.read_csv("../dataframes/praw_new_submissions.csv")
# utc timestamp to actual date time
hot_df['created_utc'] = pd.to_datetime(hot_df['created_utc'], unit='s', errors = 'coerce')
new_df['created_utc'] = pd.to_datetime(new_df['created_utc'], unit='s', errors = 'coerce')


new_df = new_df.sort_values(by='created_utc', ascending=True)
new_df.head()

,Unnamed: 0,id,name,created_utc,title,selftext,score,upvote_ratio,over_18,num_comments,author_id,author_name
979,979,ztu7wr,t3_ztu7wr,2022-12-23 22:15:14,Central Banks around the world are experiencin...,NaN,10,0.73,False,15,none,NirpUmbrella
978,978,ztuctj,t3_ztuctj,2022-12-23 22:21:04,Hopefully the highways in Ukraine will be amaz...,Anyone ever look at the US Highway Trust fund?,0,0.36,False,6,none,MaxwellHillbilly
977,977,ztufc4,t3_ztufc4,2022-12-23 22:24:29,"The Double Slit Experiment, DMT, Simulation Th...",NaN,0,0.43,False,7,none,DiggleDaddy666
976,976,ztuhl0,t3_ztuhl0,2022-12-23 22:27:26,NASA discovered something on the Moon and want...,NaN,9,0.58,False,23,none,UnseenMaDaFaKa
975,975,ztuqlg,t3_ztuqlg,2022-12-23 22:39:06,"Major corruption scheme uncovered in Odesa, Uk...",NaN,0,0.48,False,3,none,ThirdPartyMechanic